name: Deploy Frontend

on:
    push:
        branches: ["main"]

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: arn:aws:iam::526344317336:role/GitHubActionsRole
                  aws-region: ap-southeast-1

            - name: Upload to S3
              run: aws s3 sync . s3://todolist-web-frontend --delete
